* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #a5a5d1;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #474792;
  color: #2b2b5b;
  border-bottom: 4px solid #e5c2f9;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.big-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px;
  width: 100%;
  max-width: 740px;
  height: 450px;
  object-fit: cover;
  border-radius: 40px;
}
